@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap"); /* Luckiest Guy */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /* Bebas Neue */

@import "tailwindcss";

@layer base {
  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
    padding-left: 8px;
    font-weight: 400;
    font-family: var(--poppins);
  }
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-luckiest: "Luckiest Guy", sans-serif;
}

@layer components {
  /* Universal */
  .head-section {
    @apply  font-luckiest text-black text-center text-[50px];
  }
  .desc-section {
    @apply font-poppins text-[20px] text-[#9E9E9E] max-w-[680px] mx-auto text-center;
  }
  .line-section {
    @apply w-[50px] h-1 bg-[#638ECB] mt-2 mb-4 mx-auto;
  }
  /* Section Count */
  .count {
    @apply font-poppins font-thin leading-none tracking-wide text-[35px];
  }
  .head-count {
    @apply font-poppins font-extrabold text-[20px];
  }
  /* Section Footer */
  .input {
    @apply rounded-[10px] bg-white text-gray-950 pl-2 p-2;
  }
  .label {
    @apply font-poppins font-semibold text-[1.25rem];
  }
  .btn-secondary {  /* Button Kirim */
    @apply bg-[#8AAEED] font-poppins font-semibold p-3 rounded-[10px] border-3 border-white cursor-pointer;
  }
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
} 
